<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138226466553-rt8t9jtjp8euvnakpb691qros5ot15ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138226466553-rt8t9jtjp8euvnakpb691qros5ot15ot</string>
	<key>API_KEY</key>
	<string>AIzaSyCYuNPfOqCel6qMZoi33kE4PHncMYuJUDk</string>
	<key>GCM_SENDER_ID</key>
	<string>138226466553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcastrence.fitnessapp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-79359</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-79359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138226466553:ios:b11b18d87dd4e2b9d12c28</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-79359.firebaseio.com</string>
</dict>
</plist>